*{
	background-color: #E2EBF4;
}
.row{
	align-content: space-between;
}
.box{
     background-color: #774691;
     font-family: 'Raleway', sans-serif;
     overflow: hidden;
     position: relative;
     margin: 100px auto;
     max-width: 400px;
     box-shadow: 0px 0px 5px black;
 }
 .box img{
     width: 100%;
     height: auto;
     transition: all 0.5s ease 0s;
 }
 .box:hover img{
     transform-origin: left center;
     transform: scale(1.3);
     filter: grayscale(100%);
 }
 .box .box-content{
     color: #999;
     background: #fff;
     text-align: right;
     padding: 10px 15px;
     box-shadow: 0 0 15px rgba(0,0,0,0.9);
     opacity: 0;
     transform: skew(15deg);
     position: absolute;
     top: 10px;
     right: 10px;
     z-index: 2;
     transition: all 0.5s ease-out 0.1s;
 }
 .box:hover .box-content{
     opacity: 1;
     transform: skew(0);
 }
 .box .title{
     font-size: 22px;
     font-weight: 700;
     text-transform: capitalize;
     margin: 0 0 3px;
     background: #fff;
 }
 .box .post{
     color: #ff8726;
     background: #fff;
     font-size: 14px;
     font-weight: 500;
     text-transform: capitalize;
     display: block;
 }
 .box .icon{
     background-color: #fff;
     padding: 0 8px;
     margin: 0;
     list-style: none;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
     opacity: 0;
     transform: skew(15deg);
     position: absolute;
     left: 10px;
     bottom: 10px;
     z-index: 2;
     transition: all 0.5s ease-out 0s;
 }
 .box:hover .icon{
     opacity: 1;
     transform: skew(0);
 }
 .box .icon li{ margin: 8px 0; }
 .box .icon li a{
     color: #fff;
     background-color: #999;
     font-size: 15px;
     text-align: center;
     line-height: 36px;
     height: 35px;
     width: 35px;
     border-radius: 5px;
     display: block;
     transition: all 0.3s ease 0s;
 }
 .box .icon li a i{
 	background-color: #999;
 	color: #fff;
 }
 .box .icon li a:hover i{
 	background-color: #ff8726;	
    transition: all 0.3s ease 0s;
 }
 .box .icon li a:hover{
     color: #fff;
     background-color: #ff8726;
     box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
 }
 .box .icon li a:hover i{
 	transition: all 0.5s ease-out 0s;
 	transform: rotateZ(-315deg);
 }
 @media only screen and (max-width:990px){
     .box{ margin: 0 0 30px; }
 }